script(id="filter" type="text/x-kendo-template")
  #flexFilter
    #carsList
      div(
        data-role="listview"
        data-bind="source: cars"
        data-template="carListItem"
      )
      #pager(
        data-role="pager"
        data-bind="source: cars"
      )
    form#filterForm
      .k-group
        h4 manufacturer
        input#manufacturer(
          data-role='autocomplete'
          data-placeholder='Type a manufacturer'
          data-bind=`
            value: selectedManufacturer,
            source: manufacturers,
            events: {
              change: manufacturerOnChange
            }
          `
        )
      .k-group
        h4 model
        input#model(
          data-role='autocomplete'
          data-placeholder='Type a model'
          data-bind=`
            enabled: isModelEnabled,
            value: selectedModel,
            source: models,
            events: {
              change: changeRoute
            }
          `
        )
      .k-group
        h4 year
        #year(
          data-role='rangeslider'
          data-bind='value: years, events: {change: changeRoute}'
          data-min='1996'
          data-max='2017'
          data-small-step='1'
          data-large-step='10'
          data-tickplacement='none'
        )
          input
          input
      .k-group
        h4 price
        #price(
          data-role='rangeslider'
          data-bind='value: price'
          data-min='0'
          data-max='1000000'
          data-small-step='100'
          data-large-step='10000'
          data-tickplacement='none'
        )
          input
          input
      .k-group
        h4 Transmission
        label(for='manual') Manual
        input(
          type='radio'
          value='Manual'
          name='transmission'
          id='manual'
          data-bind='checked: transmission'
        )
        label(for='automatic') Automatic
        input(
          type='radio'
          value='Automatic'
          name='transmission'
          id='automatic'
          data-bind='checked: transmission'
        )
      .k-group
        h4 Fuel type
        label Disel
          input(
            type='radio'
            value='Disel'
            name='fuelType'
            data-bind='checked: fuelType'
          )
        label Gasoline
          input(
            type='radio'
            value='Gasoline'
            name='fuelType'
            data-bind='checked: fuelType'
          )
      .k-group
        h4 Kilometrage in kkm
        input(
          data-role='numerictextbox'
          data-bind='value: kilometrage'
          data-min='0'
          data-max='1000'
          data-decimals='0'
        )
      .k-group
        h4 Engine displacement in cm
          sup 3
        input(
          data-role='numerictextbox'
          data-bind='value: engineDisplacement'
          step='100'
          data-min='0'
          data-max='10000'
          data-decimals='0'
        )
      .k-group
        p.k-button(data-bind="click: resetFilter") reset filter
